<h1 id="haut">Exemple des sélecteurs "class" et "id"</h1>

<div id="menu">
<ul>
	<li>item 1</li>
	<li>item 2</li>
	<li>item 3</li>
	<li>item 4</li>
	<li>item 5</li>
</ul>
</div>

<div id="contenu">
	<p>
	Lorem ipsum dolor sit amet,<hr>
	consectetuer adipiscing elit,<hr>
	sed diam nonummy nibh euismod<hr>
	tincidunt ut laoreet dolore<hr>
	magna aliquam erat volutpat.<hr>
	Ut wisi enim ad minim veniam,<hr>
	quis nostrud exerci tation<hr>
	ullamcorper suscipit lobortis<hr>
	nisl ut aliquip ex ea commodo consequat.<hr>
	Duis autem vel eum iriure dolor<hr>
	in hendrerit in vulputate velit<hr>
	esse molestie consequat,<hr>
	vel illum dolore eu feugiat<hr>
	nulla facilisis at vero eros<hr>
	et accumsan et iusto odio<hr>
	dignissim qui blandit praesent<hr>
	luptatum zzril delenit augue duis<hr>
	dolore te feugait nulla facilisi.<hr>
	</p>

	<p class="haut">
	<a href="#haut">Haut de page</a>
	</p>
</div>
